# Python Functions cont'd

In [1]:
def addNos(x, y):
    result = x + y
    return result

In [3]:
addNos(2,4)

6

In [4]:
def subNos(x, y):
    result = y - x
    return result

In [5]:
subNos(2,5)

3

In [6]:
addNos(5,'james')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
addNos('james','john')

'jamesjohn'

In [8]:
def welcome():
    print("Good morning class!")

In [9]:
welcome()

Good morning class!

### function with a parameter

In [10]:
def greeting(name):
    print(name + " welcome back!")

In [11]:
greeting('James')

James welcome back!

### function with unknown number of parameters

In [12]:
def my_kids(*kids):
    # with the '*' the function will receive a tuple of args
    # then access according to the code block
    print("the last born is " + kids[1])

In [14]:
# run the function

my_kids('ola','joy')

the last born is joy

In [16]:
### keyword arguments
### requires 'key = value'

In [17]:
def my_func(kid1,kid2,kid3):
    print("The youngest child is " + kid3)

my_func(kid2='ola',kid1='jenny',kid3='tom')

my_func('tom','ola','jenny')

The youngest child is tom
The youngest child is jenny

### default parameter

In [18]:
def my_country(country = 'Nigeria'):
    print("I am from "+ country)

In [20]:
my_country()

I am from Nigeria

In [21]:
my_country('canada')

I am from canada

### Passing lists as arguments in a function

In [22]:
# Example 
# Write a function to return the first item in a list

In [23]:
fruits = ['apple','grape','orange','lemon']

In [24]:
def firstElement(array):
    return array[0]

In [25]:
firstElement(fruits)

'apple'

In [26]:
cars = ['benz','toyota','lexus','tesla']

In [27]:
firstElement(cars)

'benz'

### last element in the list

In [28]:
fruits[-1]

'lemon'

In [29]:
def lastElement(array):
    return array[-1]

In [30]:
lastElement(cars)

'tesla'

## middle element

In [31]:
dogs = ['rot','alsy','cheewy']

In [40]:
def middleElement(array):
    no_elements = len(array)
    print(no_elements)
    if no_elements % 2 == 0:
        print("List is even, therefore no middle number")
    if no_elements % 2 == 1:
        print('array is odd')
        mid = int((no_elements / 2) - 0.5)
        print(array[mid])
middleElement(fruits)

4
List is even, therefore no middle number

### local scope and global scope

In [41]:
# when you write functions variables used in the functions 
# can be of local or global scope

In [43]:
# Example

name = 'Joy' # global scope

def writeName():
    name = "Jane" # local scope
    print(name)

writeName()
print(name)

Jane
Joy

In [45]:
# Example
# local scope 
def func():
    x = 50
    print(x)

func()

50

In [46]:
print(x)

NameError: name 'x' is not defined

# Practice Questions

1. Write a function to:
    - sum all the numbers in a list 
    
    - find the maximum of 3 numbers 
    
    - reverse a string

# Assignment

2. Write a function to:
    - convert naira to dollar
    
    - convert celcius to farenheit
    
    - find the simple interest on a loan amount 
        - S.I = PRT/100 where P=principal, R=rate, T=time

# Solution

In [48]:
# sum all the numbers in alist

In [58]:
def sumAll(arr):
    # print(arr)
    # print(sum(arr))
    result = sum(arr)
    return result

In [59]:
sumAll([2,3,4])

9

In [60]:
# find the maximum of 3 numbers

In [61]:
def maxNos(no1,no2,no3):
    grp = [no1,no2,no3]
    result = max(grp)
    return result

In [64]:
print(maxNos(2,4,7))
print(maxNos(21,4,2))

7
21

In [65]:
# reverse a string

In [67]:
name = 'James'

def reverseStr(x):
    return x[::-1]

In [68]:
reverseStr(name)

'semaJ'

In [ ]:
fruits.